html {
	margin:0;
	padding:0;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 12px;
	color: #363636;
	background-repeat: repeat-x;
	background-image: url(../images/pick_bg.jpg);

}
body.error {
	background-image: url(../images/pick_bg.error.jpg);
}
body.dashborad {
	background-image: url(../images/menu_bg.jpg);
	background-repeat: repeat-y;
}
body.nobg {
	background-image: none;
	background-repeat: repeat-y;
}
:focus {
	outline:0px;
}
ul {
	padding: 0;
	margin: 0px;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color:#666;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	border-bottom: 1px #eeeeee solid;
	margin-bottom: 13px;
	line-height: 35px;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}
h5 {
	font-size: 13px;
}
h6 {
	font-size: 11px;

}
h1.unline, h2.unline, h3.unline,h4.unline, h5.unline, h6.unline {
	border-bottom: none!important;
	margin-bottom: 14px;
	}
b {
	font-weight: bold;
}
p {
	line-height: 23px;
	padding-left: 0px;
	padding-top:0px;
	margin-top:0px;
}
pre {
	padding:0px;
	margin:0px;
}
img {
	border: 0;
}
img.mid_align {
	vertical-align: middle;
	margin-right: 4px;
	border: 0;
}
blockquote {
	margin:0px 0 20px 0px;
	padding:0px 10px 0px 50px;
	background-image:url(../images/quote.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	clear:both;
	font-size:16px;
	line-height:25px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic
}

blockquote.left, blockquote.right {
	float:right;
	letter-spacing:0px;
	margin-bottom:20px;
	margin-left:20px;
	margin-top:0px;
	padding:0px 20px 10px 60px;
	width:43%;
	background-position:0px 0px;
}

blockquote.left {
	float:left;
	margin-left:0px;
	margin-right:20px;
}

blockquote p {
	margin-bottom:0px;
	font-size:16px;
	line-height:20px
}
.showme {
	display: inline;
}
.hideme {
	display: none;
}
label {
	font-weight: bold;
	text-transform: capitalize;
}
label.disabled {
	color: #aaa;
}
.labelname {
	border: solid 1px #C9C9C9;
	outline: 0;
	line-height: 28px;
	height: 28px;
	padding: 6px 20px 8px 20px;
	margin-left: 2px;
}
.clear {
	clear: both;
	height: 0px;
	margin: 0;
	padding: 0;
}
.f_help {
	display:block;
	font-size:10px;
	padding:4px 0;
	color:#a3a3a3
}
.f_help span {
	color:#F00
}
.f_label {
	position:absolute;
	margin-top:-18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.preloader {
	display:inline-block;
	background-color: #ffffff;
	background-image: url(loader1.gif);
	background-repeat: no-repeat;
	background-position: center center;
}
/*
	loading layout
*/
#overlay {
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:#111;
	/*	opacity:0.1;
	filter:alpha(opacity=10);*/
	z-index:1000;
	display: none;
}
#preloader {
	background: #000000 url(../images/preloader.gif) no-repeat 12px 10px;
	font-size: 11px;
	height: 20px;
	left: 50%;
	line-height: 20px;
	margin: -20px 0 0 -45px;
	padding: 10px;
	position: fixed;
	text-align: left;
	text-indent: 36px;
	top: 50%;
	width: 90px;
	z-index: 1209;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #FFF;
	text-shadow:none;
	display: none;
}
#pageload {
	background: #000000;
	font-size: 11px;
	height: 20px;
	left: 50%;
	line-height: 20px;
	margin: -20px 0 0 -55px;
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 50%;
	width: 120px;
	z-index: 1006;
	opacity:0.8;
	filter:alpha(opacity=80);
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	color: #FFF;
	text-shadow:none;
	display: none;
}


a {
	color: #1F92FF;
	text-decoration: none;
	text-shadow: 0px 0px 0px transparent;
	cursor: pointer;
}
a:active {
	color: #000000;
	text-decoration: none;
	text-shadow: 0px 0px 0px transparent;
}
a:hover {
	color: #06F;
	text-decoration: none;
	text-shadow: none;
}
a.red {
	color: #F30;
	text-decoration: none;
	text-shadow: 0px 0px 0px transparent;
	cursor: pointer;
}
a.red:hover {
	color: #F00;
}
span img {
	margin-bottom: -3px;
}
.inner h3 {
	color:#666;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
	font-size:18px;
	text-transform:uppercase;
	border-bottom: 1px #eeeeee solid;
	margin-bottom: 13px;
	line-height: 35px;
}
.show_add, .load_page, .show_edit {
	position: relative;
}


/*
		------------------------------------------------------------
		 input Type 
		------------------------------------------------------------
		*/
		textarea {
	background-position: 5px 5px;
	border: solid 1px #dddddd;
	outline: 0;
	padding: 7px 7px;
	min-height: 73px;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
}
input[type=text], input[type=password], .fileupload {
	background-position: 5px 5px;
	border: solid 1px #dddddd;
	outline: 0;
	line-height: 28px;
	height: 28px;
	padding: 0px 7px 0px 7px;
	-moz-box-shadow:1px 1px 2px #f5f5f5;
	-webkit-box-shadow:1px 1px 2px #f5f5f5;
	box-shadow:1px 1px 2px #f5f5f5;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, .fileupload:focus {
	border-color: #C9C9C9;
	-moz-box-shadow:0px 0px 8px #dddddd;
	-webkit-box-shadow:0px 0px 8px #dddddd;
	box-shadow:0px 0px 8px #dddddd;
}
input[type=text]:disabled, input[type=password]:disabled {
	background: -webkit-gradient(linear, left top, left 25, from(#EEEEEE), color-stop(4%, #EEEEEE), to(#EEEEEE));
	background: -moz-linear-gradient(top, #EEEEEE, #EEEEEE 1px, #EEEEEE 25px);
	color: #666;
}
input[type=text].error, input[type=password].error {
	height: 30px;
	border: 1px #F00 solid;
	background-position: 5px 5px;
	padding-left: 5px;
}


/*
		------------------------------------------------------------
		Form input
		------------------------------------------------------------
		*/
form input.xxsmall {
	width: 5%;
	text-align: center;
}
form input.xsmall {
	width: 10%;
	text-align: center;
}
form input.small {
	width: 20%;
}
form input.medium, form textarea.medium {
	width: 40%;
	max-width:40%
}
form input.large, form textarea.large {
	width: 69%;
	max-width:69%
}
form textarea.largeXL {
	width: 89%;
	max-width:89%;
	height:350px;
}
form input.full, form textarea.full {
	width: 95%;
	max-width:95%
}
form .limitchars{
	font-size:14px;
	color:#aaaaaa;
	text-align:right;
	}
form div.section {
	border-bottom: 1px solid #efefef;
	border-top: none;
	padding: 0px 0 13px 0;
}
form div.section:first-child, .modal_dialog form div.section:first-child {
	border-top: none
}
form div.section.last, .modal_dialog form div.section.last {
	border-bottom: none
}
form div.section > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	position: relative;
	padding: 13px 0 0px 0;
}
form div.section > div >p{
	font-size: 12px;
	}
form div.section > div > label {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 5px;
}
form div.section > div > .select_box {
	margin-left: -1px;
	position:absolute;
	display:inline-block;
}
form div.section > label {
	color: #404040;
	float: left;
	margin-right: 5%;
	margin-top: 2px;
	width: 30%;
	padding: 11px 0 0px 0;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
form div.section > div >label.red {
	color:#F00;
	text-transform: uppercase;
}
form div.section label small {
	color: #999;
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 13px;
	margin-top: 3px;
	text-transform: none;
}
ul.rowData li {
	float: left;
	margin-right: 2px;
}
ul.rowData li.sep {
	line-height:30px;
}
ul.rowData li > input {
	text-align: center;
}
/*alertMessage*/

.alertMessage,#alertMessage
{
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	background-size: 40px 40px;
	background-image: -webkit-gradient(linear, left top, right bottom,
								color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
								color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
								color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
								to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	font-size:13px;
	text-transform:capitalize;
/*	font-weight:bold;*/
	border: 1px solid!important;
	color: #fff;
	padding: 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	-webkit-animation: animate-bg 5s linear infinite;
	-moz-animation: animate-bg 5s linear infinite;
	margin-bottom: 10px;
}
#alertMessage{
	position:fixed;
	_position:absolute;
	right: -90px;
	text-transform: uppercase;
	bottom: 35px;
	z-index:100001;
	cursor:pointer;
	border: 1px solid;
	display: none;
}

.alertMessage.info ,#alertMessage.info 
{
	border-color: #3b8eb5!important;
	background-color:#C2E3F0;
	color:#34667A!important;
	text-shadow:1px 1px 1px #C8EBFB;
}

.alertMessage.error ,#alertMessage.error
{
	border-color: #c43d3d!important;
	background-color:#fc4a40;
	color:#5A0000 !important;
	text-shadow:1px 1px 1px #E64040;
}
.alertMessage.warning ,#alertMessage.warning 		 
{
		 border-color: #d99a36 !important;
	background-color:#fcdb72;
	color:#987402 !important;
	text-shadow:1px 1px 1px #e7b104;
}
.alertMessage.success ,#alertMessage.success 
{
		 background-color: #61b832;
		 border-color: #55a12c !important;
/*	color:#324e03 !important;*/
	text-shadow:1px 1px 1px #5c9201;
}

.alertMessage h3
{
		 margin: 0  !important;
		 border:none;
		line-height: 25px !important;
		color:#FFF;
}

.message p
{
		 margin: 0;													 
}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg 
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
/* styled checkboxes */
.iPhoneCheckContainer {
	position:relative;
	height:27px;
	cursor:pointer;
	overflow:hidden;
	border: 2px #f1f1f1 solid;
}
.iPhoneCheckContainer:hover {
	border: 0px #ffffff solid;
	margin:2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 12px;
}
.iPhoneCheckContainer input {
	position:absolute;
	top:5px;
	left:30px;
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity:0
}
.iPhoneCheckContainer label {
	white-space:nowrap;
	font-size:10px;
	font-weight: bold;
	line-height:16px;
	text-transform:uppercase;
	cursor:pointer;
	display:block;
	height:22px;
	position:absolute;
	width:auto;
	top:0;
	padding-top:5px;
	overflow:hidden
}
.iPhoneCheckContainer, .iPhoneCheckContainer label {
	user-select:none;
	-moz-user-select:none;
	-khtml-user-select:none
}
.iPhoneCheckDisabled {
filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity:0.5
}
label.iPhoneCheckLabelOn {
	color:#FFF;
	background:url(../images/on.png) no-repeat left top;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
	left:0;
	padding-top:5px
}
label.iPhoneCheckLabelOn span {
	padding-left:13px
}
label.iPhoneCheckLabelOff {
	color:#FFF;
	background:url(../images/off.png) no-repeat right 0;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
	text-align:right;
	right:0
}
label.iPhoneCheckLabelOff span {
	padding-right:11px
}
.iPhoneCheckHandle {
	display:block;
	height:27px;
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	background:url(../images/slider_left.png) no-repeat;
	padding-left:3px
}
.iPhoneCheckHandleRight {
	height:100%;
	width:100%;
	padding-right:3px;
	background:url(../images/slider_right.png) no-repeat right 0
}
.iPhoneCheckHandleCenter {
	height:100%;
	width:100%;
	background:url(../images/slider_center.png)
}
.responMsg {
	width: 40%;
	padding: 40px 0 0px 0;
	margin: auto;
	display:none;
}
.responMsg > div {
	text-align: center;
	padding: 50px 0;
	border: 1px #eeeeee dashed;
}
.responMsg h2 {
	display: block;
}
.responMsg a {
}
#versionBar {
	height: 50px;
	background-color: #000;
	background-image: url(../images/top_bgrepeat.jpg);
	text-shadow:none;
	color:#FFF;
	text-align: right;
	font-size:10px;
	line-height: 50px;
	padding: 0 0px;
}
#login {
	width:600px;
    /*update-begin--Author:zhangguoming  Date:20140226 for：添加验证码*/
	/*height:284px;*/
	height:353px;
    /*update-end--Author:zhangguoming  Date:20140226 for：添加验证码*/
	margin:20px auto;
	
	position:absolute;
    /*update-begin--Author:zhangguoming  Date:20140226 for：添加验证码*/
	/*top:50%;*/
	top:40%;
    /*update-begin--Author:zhangguoming  Date:20140226 for：添加验证码*/
	left:43%;
	margin-left:-200px;
	margin-top:-148px;
	opacity:0;
	filter:alpha(opacity=0);
	
	border: 5px #f4f4f4 solid;
	min-width:200px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
}
#login .ribbon {
	position: absolute;
	width: 111px;
	height: 110px;
	z-index: 12;
	margin-top: -8px;
	margin-left: -9px;

}
#login .shadow {
	position: absolute;
	width: 444px;
	z-index: -1;
	margin-top: 5px;
	background-image: url(../images/shadowForm.png);
	height: 33px;
	margin-left: 70px;
}
#login .inner {
	background-color:#FFF;
	border: 1px #cccccc solid;
    /*update-begin--Author:zhangguoming  Date:20140226 for：添加验证码*/
	/*min-height: 230px;*/
	min-height: 350px;
    /*update-end--Author:zhangguoming  Date:20140226 for：添加验证码*/
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
}

#login .logo {
	width:191px;
	height:41px;
	margin:20px auto;
	text-align:center;
	position: absolute;
	opacity:0;
	top: 5%;
	left: 25%;
	margin-left: -95px;
	z-index: 11;
	background-color: #FFF;
}
#login .formLogin {
	width:100%;
	margin:auto;
	position: relative;
	left: -700px;
	opacity:0;
	filter:alpha(opacity=0);
	height: 175px;
	padding: 90px 0px 20px 0px;
	border-radius: 15px;
	-webkit-border-radius: 15px;

}

#login input{
	font-size: 25px;
	background-repeat:no-repeat;
	text-align:center;
	margin-left:150px;	
	height: 35px;
	background-position: 2px 3px;
	line-height: 35px;
	color: #999;
	margin-bottom: 10px;
	font-family:"Myriad Pro", Arial, Helvetica, sans-serif;
}
#login input:focus{
	color:#000;
}
#login .userName {
	background-image: url(../images/user_.png);
}
#login .password {
	background-image: url(../images/pass_.png);
}
#login .loginButton{
	width:90%;
	margin-left:45px;	
}
.text_success {
	font-size:14px;
	text-align:center;
	margin:0px 0 35px 0;
	line-height:25px;
	position: absolute;
	left: 50%;
	width: 200px;
	top: 50%;
	z-index: 50;
	margin-left: -100px;
	text-transform: uppercase;
	padding: 20px 0px;
	margin-top: -100px;
	display: none;
}
.text_success img {
}
.text_success span {
	display: block;
	padding: 10px;
	color: #CCC;
}
