@charset "utf-8";
/* CSS Document */
html, body, div, p, h1, h2, h3, h4, hr, p, span, a, ul, li, dt, dl, dd, img, form, input{margin:0; padding:0;}
body{background:url(../../images/common/topBg.jpg) repeat-x; text-align:center; font:12px arial; text-align:left;}
li{list-style:none;}
img{border:0;}
a{ text-decoration:none; color:#045e83;}
a:hover{ color:#003605;}
		.red{ color:#f50;}
		.f16{ font-size:16px; font-weight:bold;}
		.graybox{border:#75b739 1px solid; padding:12px; display:inline-block;}
		.butGray{ padding:4px 18px;border:#1787b4 1px solid; cursor:pointer; background:#36b2e6; font-weight:bold; color:#fff;}
		.butGray:hover{color:#c7dfe9;}



		/*弹窗*/
.swBg{display:none;position:fixed;_position:absolute;top:0;_top: expression(documentElement.scrollTop);bottom:0;left:0;width:100%;height:100%;_height: expression(documentElement.clientHeight);background:#999;z-index:10000; filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;}
.swCon{display:none;position:fixed;_position:absolute;z-index:10001;top:50%;_top:expression(documentElement.scrollTop + documentElement.clientHeight/2);left:50%;margin:-100px 0 0 -100px; overflow:hidden;}
		/*分页*/
  .paging {float:right;padding:5px;}
	.paging a, .paging span {float:left;display:inline-block;font:12px arial;color:#333;padding:2px 6px;background:#e0ecff;border:#c6d6e5 1px solid;margin:2px;}
.paging a {cursor:pointer;}
.paging span {border:none;	background:none;}
.paging span input {width:24px;height:16px;	text-align:center;border-top:#ccc 1px solid;}
.paging a:hover, .paging a.bnt:hover, .paging a.active {background:#36b2e6;text-decoration:none;color:#fff;}
/*.paging a.bnt {	background:#cde1ff;border:#ccc 1px solid;_padding:6px 8px 2px 8px;}*/
		.m5{padding:0;margin:-2px 0 0 0;}
		.m5 a, .m5 span {padding:2px 4px;}	
		

		/*数据表格*/
		.listTit{padding:0 15px; line-height:32px; background:#cde1ff url(../../images/common/lineDash.png);}
			.listTit input, .listTit select{ margin-right:22px;}
			.tool a{ margin:0 5px;}
			.datalist, .tool{ width:100%;border-collapse:collapse;}
				.tool td{background:#e0ecff;}
			.datalist td, .tool td{ border:#c6d6e5 1px solid; height:20px;line-height:20px; padding:3px;}
				table.datalist thead{ background:url(../../images/common/dataHead.jpg); font-weight:bold;}
				table.datalist thead td{white-space:nowrap;}
				table thead td{color:#04415b;}
				.datalist tr:hover, .tdth{ background:#e0e5ff;}
					 .tdtit{ text-align:right;}
				.tdBg{background:#ecf2ff;}
				.tdAct{background:#f9ffd9;}

		/*有边距详情表格*/
			.datadetail{ width:98%; margin:5px 1%;border-collapse:collapse;}
				.datadetail td{ border:#c6d6e5 1px solid; height:16px;line-height:16px; padding:5px;}
				table.datadetail thead{ background:url(../../images/common/dataHead.jpg); font-weight:bold;}
				table.datadetail thead td{white-space:nowrap;}
		
		/*tab*/
		.hntab{ background:#f1f1f1; border:1px solid #d8d8d8; list-style:none; margin:0 auto;}
			.hntab ul{ background:url(../../images/common/tabBg.png); height:22px;line-height:22px; border-top:#fff 1px solid; padding-top:2px; }
				.hntab li{background:url(../../images/common/tabNol.png); float:left; padding-left:9px; margin-left:5px;text-align:center; cursor:pointer; list-style:none;}
				 .hntab li b{background:url(../../images/common/tabNol.png) right top; color:#333;font-weight:normal; display:inline-block;height:22px;line-height:22px;padding-right:9px;}
				 .hntab li b:hover{ color:#003a91;}
				.hntab li.act{background:url(../../images/common/tabAct.png);}
								.hntab li.act b{background:url(../../images/common/tabAct.png) right top;font-weight:bold; color:#000;}

			.hntab > div{ clear:both; width:100%;  display:none; }
					
				.hntab div.tabshow{display:block; }	/*tab 第一个内容显示*/

				
				p.comment{border-bottom:#d1d1d1 1px dotted; text-indent:0; line-height:28px;}
					p.comment b{ float:right; color:#aaa; font-size:12px; font-weight:normal;}
					p.comment b a{ margin:0 10px;}
		/*分屏*/
			.subwin, .subwin1, .subwin2, .subwin3, .subwin4 { position:absolute; overflow:hidden;border:#36b2e6 1px solid; background:#fff;}
			.subwin1{width:85%; top:0;bottom:40%;height:60%; z-index:1;}
				h2{ font-size:12px; font-weight:bold; border-left:#36b2e6 4px solid; background:#e0ecff; padding:5px 15px;}
			.subwin2{width:15%;left:85%; top:0;bottom:40%;height:60%; z-index:11;}
			.subwin3{width:85%;top:60%;bottom:0;height:40%; z-index:2;}
				.subwin3 ul{width:100%; position:fixed;}
				/*超出滚动*/.subwin3 > div, .overscroll{position:absolute;bottom:0; width:100%; overflow:auto; top:25px;}
			.subwin4{width:15%;left:85%; top:60%;bottom:0;height:40%; z-index:12;}
					.winMax, .winMin {position:absolute; z-index:9999; right:0; display:inline-block; width:30px; height:24px; background:url(../../images/common/winMax.jpg)  center center no-repeat;}
					.winMin {background:url(../../images/common/winMin.jpg)  center center no-repeat; display:none;}
				.searchShow{background:url(../../images/common/searchHide.jpg)  center center no-repeat; margin-right:8px;display:inline-block; width:19px; height:16px;}
					.searchitem{display:none;}
					
					.treeHide, .treeShow {position:absolute; z-index:9999; right:0; display:inline-block; width:30px; height:24px; background:url(../../images/common/treeHide.jpg)  center center no-repeat;}
					.treeShow {right:auto; left:0;background:url(../../images/common/treeShow.jpg)  center center no-repeat;}
				
		/*教程*/
		.newslist, .newsDetail{ margin:8px 0; padding:6px 6px 0 6px;border-top:#ccc 2px solid; }
			.newslist p{border-bottom:#d1d1d1 1px dotted; line-height:32px;}
			.newslist p span{ float:right;}
		.newsDetail h2{ text-align:center; font-size:16px; line-height:35px;}
		.newsDetail h4{ text-align:center; font-size:12px;line-height:25px;font-weight: normal;}
		.newsDetail p{line-height:22px; margin:5px 0; text-indent:24px;}
		.newsDetail h4 img{border:#ccc 2px solid;}
		
		.ebuy table{ border-collapse:collapse; float:left; background:#f1f8f0; height:210px; width:500px;}
		.ebuy table td{border:#ddd 1px solid;}
		
		/*个人信息*/
		.main{position:absolute; left:50%; margin-left:-620px; top:75px; width:1240px; text-align:left;}
		
				.ebox{margin:32px 8px 0 4px;border:#d1d1d1 1px solid;border-top:#75b739 4px solid; line-height:22px; min-height:400px;}
					.h260{min-height:260px;}
				.ebox h2{ border-bottom:#d1d1d1 1px dotted;padding:4px 12px; font-size:15px; clear:both;}
				.ebox table{margin:8px 35px;}
					.ebox table td{padding:4px;}
				.noborder table, .noborder table td{border:0;}
			.m100{ margin:40px 100px; line-height:28px;}
			.ebox table.m300{ margin:40px 300px; line-height:28px;}
			.m20{ margin:20px; line-height:28px;}
		.but1{background:#219dd1; padding:0 10px; height:30px; line-height:30px; color:#fff; text-decoration:none; font-weight:bold; margin:8px 5px; display:inline-block; text-align:center;}
		.but1:hover{ color:#e0ecff;}

.txtCenter{text-align:center;}


		/*弹窗*/
		
		.smrz, .xgdz {
	height: 215px;
	width: 400px;
	border: 1px solid #a0a0a0;
	background-color: #f4f4f4;
	font-size: 12px;
}
.smrz .smrzt, .xgdz .smrzt {
	width: 100%;
	margin: 0px;
	padding: 0px;
	height: 32px;
	background-color:#36b2e6;
	font-weight: bold;
	color: #FFF;
	font-size: 14px;
}
.smrz table tr td .button, .xgdz table tr td .button {
	height: 20px;
	width: 70px;
	background-image: url(../../images/common/off_btn.jpg);
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 14px;
	cursor:pointer;
	line-height:20px;
}
.buttonlong {
	background-image: url(../../images/common/waybg.jpg);
	background-repeat: no-repeat;
	height: 20px;
	width: 113px;
	border:none;
	font-size: 14px;
	cursor:pointer;
	line-height:20px;
}
.xgdz .enter {
	border: 1px solid #a0a0a0;
}
.xjfl {
	height: 110px;
	width: 200px;
	border: 1px solid #a0a0a0;
	background-color: #f4f4f4;
	text-align: center;
	font-size: 12px;
}
.xjfl table {
	height: 32px;
	width: 200px;
	background-color: #009435;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}
.sendxj {
	width: 280px;
	height: 110px;
	text-align: center;
	border: 1px solid #a0a0a0;
	background-color: #f4f4f4;
}
.xjfl .button {
	height: 20px;
	width: 70px;
	background-image: url(../../images/common/off_btn.jpg);
	font-size: 14px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor:pointer;
	line-height:20px;
}
.sendxj table {
	background-color: #009435;
	height: 32px;
	width: 280px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
}
.storeman {
	height: 190px;
	width: 600px;
	background-color: #f4f4f4;
	border: 1px solid #a0a0a0;
}
.storeman .store {
	height: 32px;
	width: 600px;
	background-color: #009435;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	line-height: 32px;
}
.storeman table tr td .button {
	background-image: url(../../images/common/off_btn.jpg);
	background-repeat: no-repeat;
	height: 20px;
	width: 70px;
	font-size: 14px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor:pointer;
	line-height:20px;
}
.storeman table tr td .text {
	height: 25px;
	width: 130px;
	line-height: 25px;
	border: 1px solid #b5b5b5;
}
.storeman table tr td .text2 {
	height: 25px;
	width: 80px;
	line-height: 25px;
	border: 1px solid #b5b5b5;
}
.storeman table tr td img {
	margin-bottom: 4px;
}
.storeman .ff {
	width: 580px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	font-size: 12px;
	line-height: 35px;
}
.offtanchu {
	height: 20px;
	width: 20px;
	display: block;
	background-repeat: no-repeat;
	background-image: url(../../images/common/open.jpg);
}
.offtanchu:hover, a.offtanchu.act {
	height: 20px;
	width: 20px;
	display: block;
	background-repeat: no-repeat;
	background-image: url(../../images/common/off.jpg);
}
.shangchuan {
	height: 280px;
	width: 480px;
	float: left;
	background-color: #F4F4F4;
	border: 1px solid #b5b5b5;
}
.shangchuan .schan {
	background-color: #009435;
	height: 32px;
	font-weight: bold;
	color: #FFF;
	font-size: 14px;
	width: 480px;
}
.shangchuan .schan2 {
	height: 220px;
	width: 460px;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
	margin-right: auto;
	margin-left: auto;
}
.shangchuan .schan2 tr td .button {
	height: 20px;
	width: 70px;
	background-image: url(../../images/common/off_btn.jpg);
	background-repeat: no-repeat;
	border: none;
	cursor:pointer;
	font-size:14px;
	line-height:20px;
}
.shangchuan .schan2 tr td {
	line-height: 25px;
}
.shangchuan .schan2 tr td .pic1 {
	height: 100px;
	width: 100px;
	background-color: #d8d8d8;
	border: 1px solid #666;
	margin-right: auto;
	margin-left: auto;
}
.hostcancel {
	height: 100px;
	width: 200px;
	border: 1px solid #b5b5b5;
	font-size: 14px;
	text-align: center;
	line-height: 25px;
}
.hostcancel .red {
	margin-top: 30px;

	display: block;
}
.hostcancel .button {
	height: 20px;
	width: 70px;
	background-image: url(../../images/common/off_btn.jpg);
	background-repeat: no-repeat;
	line-height: 20px;
	font-size: 14px;
	margin-top: 15px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor:pointer;
}
.red {
	color: #e60012;
}
.marginleft20 {
	margin-left: 20px;
}
.tip {
	height: 110px;
	width: 220px;
	border: 1px solid #a0a0a0;
	background-color: #f4f4f4;
	text-align: center;
	font-size: 12px;
}
.tip table {
	height: 32px;
	width: 220px;
	background-color: #009435;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	line-height:20px;
}
.tip .button {
	height: 20px;
	width: 70px;
	background-image: url(../../images/common/off_btn.jpg);
	font-size: 14px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor:pointer;
}
.tip1 {
	height: 110px;
	width: 280px;
	border: 1px solid #a0a0a0;
	background-color: #f4f4f4;
	text-align: center;
	font-size: 12px;
}
.tip1 table {
	height: 32px;
	width: 280px;
	background-color: #009435;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
	line-height:20px;
}

	.dele{position:absolute; margin:-5px 0 0 135px;}	
.textCenter{
	text-align: center;	
}		
		