@charset "utf-8";
/* CSS Document */
html,body,div,form{margin:0; padding:0;}
body{background:url(../images/login_bg.jpg) top center; color:#4b4d4d; font:13px arial;}
form{background:url(../images/form.jpg) no-repeat; width:324px; height:231px; position:absolute; top:275px; left:50%; margin-left:97px;}
	form table{margin:66px 0 0 45px;}
		td{height:30px;}
			td img{cursor:pointer; }
		.btn1{border:0; background:url(../images/btn1.jpg); width:54px; height:27px; color:#fff; font-weight:bold; cursor:pointer; margin:6px 12px 0 0;}
		.btn1:hover{background:url(../images/btn1_focus.jpg);}
		a{color:#4d8400; text-decoration:none;}
		a:hover{color:#1616ae;}
		